Repository sHarshil-Shah/tutorials-web-5709: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-deploy-tutorial-2, build-deploy-tutorial-3

.gitlab-ci.yml:

image: node:latest

stages:
  - build

build-deploy-tutorial-2:
  stage: build
  script:
    - cd tutorial-2
    - npm install
    - npm run build
    - npm install -g netlify-cli
    - netlify deploy --prod --auth $NETLIFY_AUTH_TOKEN --site $NETLIFY_SITE_ID --dir build/
  only:
    changes:
      - tutorial-2/*

build-deploy-tutorial-3:
  stage: build
  script:
    - cd tutorial-3
    - npm install
    - npm run build
    - npm install -g netlify-cli
    - netlify deploy --prod --auth $NETLIFY_AUTH_TOKEN --site $NETLIFY_SITE_ID_2 --dir dist/
  only:
    changes:
      - tutorial-3/*

Submission md file created
  tutorial-3/Harshil_Shah_README.md
Due: build-deploy-tutorial-3

added
  .gitlab-ci.yml
Due: none

Tutorial-4 Done
  tutorial-4/.gitignore
  tutorial-4/README.md
  tutorial-4/package-lock.json
  tutorial-4/package.json
  tutorial-4/public/favicon.ico
  tutorial-4/public/index.html
  tutorial-4/public/logo192.png
  tutorial-4/public/logo512.png
  tutorial-4/public/manifest.json
  tutorial-4/public/robots.txt
  tutorial-4/src/App.css
  tutorial-4/src/App.test.tsx
  tutorial-4/src/App.tsx
  tutorial-4/src/index.css
  tutorial-4/src/index.tsx
  tutorial-4/src/login.tsx
  tutorial-4/src/logo.svg
  tutorial-4/src/react-app-env.d.ts
  tutorial-4/src/reportWebVitals.ts
  tutorial-4/src/router.tsx
  tutorial-4/src/setupTests.ts
  tutorial-4/src/userprofile.tsx
  tutorial-4/src/users.tsx
  tutorial-4/tsconfig.json
Due: none

Delete README.md
  README.md
Due: none

checking pipeline
  tutorial-3/README.md
Due: build-deploy-tutorial-3

testing
  .gitlab-ci.yml
  README.md
  tutorial-2/package-lock.json
  tutorial-2/package.json
  tutorial-3/.gitignore
  tutorial-3/Harshil_Shah_README.md
  tutorial-3/README.md
  tutorial-3/index.html
  tutorial-3/package-lock.json
  tutorial-3/package.json
  tutorial-3/public/favicon.ico
  tutorial-3/public/index.html
  tutorial-3/public/logo.png
  tutorial-3/public/logo192.png
  tutorial-3/public/logo512.png
  tutorial-3/public/manifest.json
  tutorial-3/public/robots.txt
  tutorial-3/src/App.css
  tutorial-3/src/App.test.tsx
  tutorial-3/src/App.tsx
  tutorial-3/src/Profile.tsx
  tutorial-3/src/ProfileRegistration.tsx
  tutorial-3/src/index.css
  tutorial-3/src/index.tsx
  tutorial-3/src/logo.svg
  tutorial-3/src/react-app-env.d.ts
  tutorial-3/src/reportWebVitals.ts
  tutorial-3/src/router.tsx
  tutorial-3/tsconfig.json
Due: build-deploy-tutorial-2, build-deploy-tutorial-3

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

README tutorial-5
  tutorial-5/README.md
Due: none

Tutorial-6 done
  tutorial-6/T6_Harshil_Shah.docx
  tutorial-6/T6_Harshil_Shah.pdf
  tutorial-7/README.md
  tutorial-7/add.ts
  tutorial-7/app.ts
  tutorial-7/package-lock.json
  tutorial-7/package.json
  tutorial-7/specificUser.ts
  tutorial-7/tsconfig.json
  tutorial-7/update.ts
  tutorial-7/users.ts
  tutorial-7/users_data.ts
Due: none

Tutorial-7 done
  tutorial-7/.gitignore
  tutorial-7/add.ts
  tutorial-7/app.ts
  tutorial-7/package-lock.json
  tutorial-7/package.json
  tutorial-7/specificUser.ts
  tutorial-7/tsconfig.json
  tutorial-7/update.ts
  tutorial-7/user.model.ts
  tutorial-7/user.routes.ts
  tutorial-7/users.ts
  tutorial-7/users_data.ts
Due: none

T7 added postman json file
  tutorial-7/README.md
  tutorial-7/Web.postman_collection.json
  tutorial-7/tsconfig.json
Due: none

T7 added submission file
  tutorial-7/Harshil_Shah_README.md
Due: none
